{% extends 'base.html' %}

{% block content %}
         {% if prev_tasks %}
            <div>
                <script>
                    function pastMark(id) {
                        var element = document.getElementById(id);
                        element.classList.toggle("marked");
                        window.location.href = 'http://127.0.0.1:8000/mark/' + id;
                    }
                </script> 
                <h1> Yesterday's Tasks </h1>
                {% for task in prev_tasks %}
                    {% if task.done == False %} 
                    <div class="task row" id="{{task.id}}" onclick="pastMark(id)">
                        <div class="column">                    
                                <p>{{task.title}}</p>
                                <p>{{task.description}}</p>
                                <p>{{task.date}}</p>               
                        </div>
                        <div class="column">
                            <a href="http://127.0.0.1:8000/edit/{{task.id}}">Edit</a>
                        </div>
                        <div class="column">
                            <a href="http://127.0.0.1:8000/delete/{{task.id}}">Delete</a>
                        </div>
                    </div> 
                    {% else %}
                    <div class="task row marked" id="{{task.id}}" onclick="pastMark(id)">
                        <div class="column">                    
                                <p>{{task.title}}</p>
                                <p>{{task.description}}</p>
                                <p>{{task.date}}</p>               
                        </div>
                        <div class="column">
                            <a href="http://127.0.0.1:8000/edit/{{task.id}}">Edit</a>
                        </div>
                        <div class="column">
                            <a href="http://127.0.0.1:8000/delete/{{task.id}}">Delete</a>
                        </div>
                    </div>
                    {% endif %}           
                {% endfor %}
            </div>
        {% endif %}

        {% if today_tasks %}
            <div>
                <script>
                    function todayMark(id) {
                        var element = document.getElementById(id);
                        element.classList.toggle("marked");
                        window.location.href = 'http://127.0.0.1:8000/mark/' + id;
                    }
                </script> 
                <h1> Today's Tasks </h1>
                {% for task in today_tasks %}
                    {% if task.done == False %} 
                    <div class="task row" id="{{task.id}}" onclick="todayMark(id)">
                        <div class="column">                    
                                <p>{{task.title}}</p>
                                <p>{{task.description}}</p>
                                <p>{{task.date}}</p>               
                        </div>
                        <div class="column">
                            <a href="http://127.0.0.1:8000/edit/{{task.id}}">Edit</a>
                        </div>
                        <div class="column">
                            <a href="http://127.0.0.1:8000/delete/{{task.id}}">Delete</a>
                        </div>
                    </div> 
                    {% else %}
                    <div class="task row marked" id="{{task.id}}" onclick="todayMark(id)">
                        <div class="column">                    
                                <p>{{task.title}}</p>
                                <p>{{task.description}}</p>
                                <p>{{task.date}}</p>               
                        </div>
                        <div class="column">
                            <a href="http://127.0.0.1:8000/edit/{{task.id}}">Edit</a>
                        </div>
                        <div class="column">
                            <a href="http://127.0.0.1:8000/delete/{{task.id}}">Delete</a>
                        </div>
                    </div>
                    {% endif %}           
                {% endfor %}
            </div>
        {% endif %}

        {% if week_tasks %}
            <div>
                <script>
                    function weekMark(id) {
                        var element = document.getElementById(id);
                        element.classList.toggle("marked");
                        window.location.href = 'http://127.0.0.1:8000/mark/' + id;
                    }
                </script> 
                <h1> Week Tasks </h1>
                {% for task in week_tasks %}
                    {% if task.done == False %} 
                    <div class="task row" id="{{task.id}}" onclick="weekMark(id)">
                        <div class="column">                    
                                <p>{{task.title}}</p>
                                <p>{{task.description}}</p>
                                <p>{{task.date}}</p>               
                        </div>
                        <div class="column">
                            <a href="http://127.0.0.1:8000/edit/{{task.id}}">Edit</a>
                        </div>
                        <div class="column">
                            <a href="http://127.0.0.1:8000/delete/{{task.id}}">Delete</a>
                        </div>
                    </div> 
                    {% else %}
                    <div class="task row marked" id="{{task.id}}" onclick="weekMark(id)">
                        <div class="column">                    
                                <p>{{task.title}}</p>
                                <p>{{task.description}}</p>
                                <p>{{task.date}}</p>               
                        </div>
                        <div class="column">
                            <a href="http://127.0.0.1:8000/edit/{{task.id}}">Edit</a>
                        </div>
                        <div class="column">
                            <a href="http://127.0.0.1:8000/delete/{{task.id}}">Delete</a>
                        </div>
                    </div>
                    {% endif %}           
                {% endfor %}
            </div>
        {% endif %}

        {% if future_tasks %}
            <div>
                <script>
                    function futureMark(id) {
                        var element = document.getElementById(id);
                        element.classList.toggle("marked");
                        window.location.href = 'http://127.0.0.1:8000/mark/' + id;
                    }
                </script> 
                <h1> Future Tasks </h1>
                {% for task in future_tasks %}
                    {% if task.done == False %} 
                    <div class="task row" id="{{task.id}}" onclick="futureMark(id)">
                        <div class="column">                    
                                <p>{{task.title}}</p>
                                <p>{{task.description}}</p>
                                <p>{{task.date}}</p>               
                        </div>
                        <div class="column">
                            <a href="http://127.0.0.1:8000/edit/{{task.id}}">Edit</a>
                        </div>
                        <div class="column">
                            <a href="http://127.0.0.1:8000/delete/{{task.id}}">Delete</a>
                        </div>
                    </div> 
                    {% else %}
                    <div class="task row marked" id="{{task.id}}" onclick="futureMark(id)">
                        <div class="column">                    
                                <p>{{task.title}}</p>
                                <p>{{task.description}}</p>
                                <p>{{task.date}}</p>               
                        </div>
                        <div class="column">
                            <a href="http://127.0.0.1:8000/edit/{{task.id}}">Edit</a>
                        </div>
                        <div class="column">
                            <a href="http://127.0.0.1:8000/delete/{{task.id}}">Delete</a>
                        </div>
                    </div>
                    {% endif %}           
                {% endfor %}
            </div>
        {% endif %}

{% endblock %} 
