{% extends 'base.html' %}


<script>
var something = document.getElementById('task');
something.style.cursor = 'pointer';
something.onmouseover = function() {
    this.style.backgroundColor = 'red';
};
something.onmouseout = function() {
    this.style.backgroundColor = '';
};
</script>



{% block content %}
    
        {% if prev_tasks %}
            <div>
                <h1> Previous Tasks </h1>
                {% for task in prev_tasks %}
                    {% if task.done == False %}
                        <div class="task">
                            <p>{{task.title}}</p>
                            <p>{{task.description}}</p>
                            <p>{{task.date}}</p>
                        </div>
                    {% else %}
                    <div class="task done">
                        <p>{{task.title}}</p>
                        <p>{{task.description}}</p>
                        <p>{{task.date}}</p>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {% if today_tasks %}
            <div>
                <h1> Today's Tasks </h1>
                {% for task in today_tasks %}
                    <div class="task row">
                        <div class="column">
                            {% if task.done == False %}
                                <p>{{task.title}}</p>
                                <p>{{task.description}}</p>
                                <p>{{task.date}}</p>
                            
                            {% else %}
                            
                                <p>{{task.title}}</p>
                                <p>{{task.description}}</p>
                                <p>{{task.date}}</p>
                            
                            {% endif %}
                        </div>
                        <div class="column">
                            <a href="http://127.0.0.1:8000/edit/{{task.id}}">Edit</a>
                        </div>
                        <div class="column">
                            <a href="http://127.0.0.1:8000/delete/{{task.id}}">Delete</a>
                        </div>
                    </div>            
                    

                {% endfor %}
            </div>
        {% endif %}

        {% if week_tasks %}
            <div>
                <h1> This Week's Tasks </h1>
                {% for task in week_tasks %}
                    {% if task.done == False %}
                    <div class="task">
                        <p>{{task.title}}</p>
                        <p>{{task.description}}</p>
                        <p>{{task.date}}</p>
                    </div>
                    {% else %}
                    <div class="task done">
                        <p>{{task.title}}</p>
                        <p>{{task.description}}</p>
                        <p>{{task.date}}</p>
                    </div>
                    {% endif %}

                {% endfor %}
            </div>
        {% endif %}

        {% if future_tasks %}
            <div>
                <h1> Future Tasks </h1>
                {% for task in future_tasks %}
                    {% if task.done == False %}
                        <div class="task">
                            <p>{{task.title}}</p>
                            <p>{{task.description}}</p>
                            <p>{{task.date}}</p>
                        </div>
                        {% else %}
                        <div class="task done">
                            <p>{{task.title}}</p>
                            <p>{{task.description}}</p>
                            <p>{{task.date}}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

{% endblock %} 
